<!DOCTYPE HTML>
<html>
<head><title>JetFuel</title>
  <style type="text/css">
    #shorten_button{
      color: blue;
    }
  </style>
</head>
<body>
  <h1>JetFuel</h1>

  <form method="POST" action="/shorten"> <p>Shorten your link:</p>
    <input type="text" name="url" />
    <input type="submit" name="shorten" value="Shorten" id="shorten_button"/>
  </form>

  <form method="" action=""> <p>Login:</p>
    <input type="text" name="username" value="user@email.com" />
    <input type="password" name="password" value="password"/>
    <input type="submit" name="login" value="Login" />
  </form>

</body>
</html>
