<!DOCTYPE HTML>
<html>
<head><title>JetFuel</title>
  
</head>
<body>
  <h1>JetFuel</h1>

  <form method="POST" action="/shorten"> <p>Shorten your link:</p>
    <input type="text" name="url" />
    <input type="submit" name="shorten" value="Shorten" id="shorten_button"/>
  </form>

  <form method="POST" action="/login"> <p>Login:</p>
    <input type="text" name="username" value="username" />
    <input type="password" name="password" value="password"/>
    <input type="submit" name="login" value="Login" />
  </form>

  <br>

  <form method="GET" action="/join">
    <input type="submit" id="join_button" value="Join JetFuel" />
  </form>

  <h2>Top Links</h2>
    <ul>
    <% @top_links.each do |top_link| %>
      <li><%= top_link.full_url %> has been visted <%= top_link.visits_count %> time via <%= top_link.short_url %></li>
    <% end %>
    </ul>

</body>
</html>
