<!DOCTYPE HTML>
<html>
<head><title>JetFuel</title>
  <style>
    body{
      padding: 0px;
      margin: 0px;
    }
    .top{
      width: 97.5%;
      background-color: orange;
      margin-top: 0px;
      padding: 15px;
      border-bottom: 0px solid black;
    }
    .top_stuff{
      color: black;
      font-family: serif;
      display: inline;
      margin: 0px;
      padding: 4px;
      position: absolute;
      top: 18px;
      right: 10px;
      width: 500px;
    }
    .top_stuff label{
      font-size: 120%;
    }
    .top_stuff input{
      width: 100px;
    }
    h1{
      margin: 0px;
      padding: 0px;
    }
    h1 a{
      color: black;
      font-family: serif;
      font-size: 120%;
    }
    .main{
      width: 60%;
      margin: auto;
    }
    .join{
      width: 100px;
      position: absolute;
      top: 23px;
      right: 7px;
    }
    .shorten_form{
      width: 200px;
      margin: auto;
    }
    h2{
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 9px;
      margin: auto;
      font-size: 110%;
    }
    .shorten_button{
      margin-top: 12px;
    }
    .table{
      padding-top: 20px;
      width: 650px;
      margin: auto;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
  </script>
</head>
<body>
  <div class="top">
    <h1><a href="http://jetfuel.herokuapp.com">JetFuel</a></h1>

    <form method="POST" action="/login" class="top_stuff">
      <label>Username:</label>
      <input type="text" name="username" />
      <label>Password:</label>
      <input type="password" name="password" />
      <input type="submit" name="login" value="Login" />
    </form>
  </div>

  <div class="main">
    <div class="shorten_form">
      <form method="POST" action="/shorten"> <h2>Insert link:</h2>
        <input type="text" name="url" />
        <input type="submit" name="shorten" value="Shorten" id="shorten_button" class="shorten_button"/>
      </form>
    </div>

    <div class="join">
      <form method="GET" action="/join" class="join">
        <input type="submit" id="join_button" value="Join JetFuel" />
      </form>
    </div>

    <div class="table">
      <h2>Top Public Links</h2>
        <table>
        <% @top_links.each do |top_link| %>
          <tr>
            <td><%= top_link.full_url %></td>
            <td>Viewed <%= top_link.visits_count %> times</td> 
            <td>
              Via: <a href="http://<%= top_link.short_url %>">
              <%= top_link.short_url %></a>
            </td>
          </tr>
        <% end %>
        </table>
    </div>
  </div>

</body>
<script type="text/javascript">
  $(document).ready(function() {
      var randClr = '#'+Math.floor(Math.random()*16777215).toString(16);
      $('.top').css("background-color", randClr);
      $('.top').click(function(){
        var randClr = '#'+Math.floor(Math.random()*16777215).toString(16);
      $('.top').css("background-color", randClr);
      });
  });
</script>
</html>
