<!DOCTYPE HTML>
<html>
<head><title>JetFuel - Join</title>
  
</head>
<body>
  <h1>JetFuel</h1>

  <h2>Join Now</h2>
  <p>Create a username and password to join</p>
  <form method="POST" action="/join">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" name="signup" value="Join Now">
  </form>

</body>
</html>
