<!DOCTYPE HTML>
<html>
<head><title>JetFuel - Shortened Link</title>
  <style type="text/css">
    #shorten_button{
      color: blue;
    }
  </style>
</head>
<body>
  <h1>JetFuel</h1>

  <h2>Your shortened link:</h2>
  <h3><%= @link[:full_url] %>
    has been shortened to 
    <%= @link[:short_url] %>
  </h3>

</body>
</html>
